<div class="row"><div class="col-lg-4"></div>
<div class="col-lg-4">
<form [formGroup]="register"  class="container form-group" (ngSubmit)="SignUp()">
    <div>
    <input type="text" placeholder="enter Name" formControlName="user" class="form-control">
    <br>
    <input type="password" placeholder="enter password" formControlName="password" class="form-control">
    <br>
    <input type="email" placeholder="enter email" formControlName="email" class="form-control">
    <br>
    <input type="number" placeholder="enter mobile number" formControlName="Mobile" class="form-control">
    <br>
    <input type="password" placeholder="enter password" formControlName="password" class="form-control">
    <br>
    <input type="textarea" placeholder="enter address" formControlName="user" class="form-control">
    <br>
    <button class="btn btn-success form-control"><b>Register</b></button>
    </div>
</form>
</div>
<div class="col-lg-4"></div>
<p class="text white">Value:{{register.value | json}}</p>
</div>
