<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark nvr navbar-fixed-container header1" style="--bs-scroll-height: 50px ; height: 80px;position: relative;width: 100%;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Bloggy</a>
  <div class="collapse navbar-collapse navv navbar-fixed-top" data-spy="affix" data-offset-top="1" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-3 mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blogs">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contactus">ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="registration">Register</a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="topbar">
  <div class="toppbarwrapper">
    <div class="topleft">
      <span class="logo">Mishranitish</span>
    </div>
    <div class="topright">
      <ul class="topbariconsContainer">
        <li class="item">
          <a routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="item">
          <a routerLink="/blogs">Blogs</a>
        </li>
        <li class="item">
          <a routerLink="about">AboutUs</a>
        </li>
        <li class="item">
          <a routerLink="contactus">ContactUs</a>
        </li>
        <li class="item">
          <a routerLink="login">Login</a>
        </li>
        <li class="item">
          <a routerLink="registration">Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>