 
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true"> 
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner  ">
      <div class="carousel-item active bg_slide">
       <div class="row">
         <div class="col-md-4 text-right slider_image">
           <img src="assets/images/m1.png" />
         </div>
         <div class="col-md-8 slider_content">
           <h2>Enjoy tasty foods at low cost</h2>
           <p>We provide low cost tasty food which is delicous and healthy also</p>
           <button class="btn btn-success">Learn More <span class="fa fa-angle-double-right arrs fa-lg" aria-hidden="true"></span>
          </button>
         </div>
       </div>
      </div>
     <div class="carousel-item  bg_slide">
       <div class="row">
         <div class="col-md-4 text-right slider_image">
           <img src="assets/images/m2.jpg" />
         </div>
         <div class="col-md-8 slider_content">
           <h2>Enjoy tasty foods at low cost</h2>
           <p>We provide low cost tasty food which is delicous and healthy also</p>
           <button class="btn btn-success">Learn More <span class="fa fa-angle-double-right arrs fa-lg" aria-hidden="true"></span>
            </button>
         </div>
       </div>
      </div>
      <div class="carousel-item  bg_slide">
       <div class="row">
         <div class="col-md-4 text-right slider_image">
           <img src="assets/images/m1.png" />
         </div>
         <div class="col-md-8 slider_content">
           <h2>Enjoy tasty foods at low cost</h2>
           <p>We provide low cost tasty food which is delicous and healthy also</p>
           <button class="btn btn-success">Learn More <span class="fa fa-angle-double-right arrs fa-lg" aria-hidden="true"></span>
            </button>
         </div>
       </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>